<p id="notice"><%= notice %></p>

<h1>Live Scores</h1>
<table>
  <tbody>
    <% if @live_matches.present? %>
      <% @live_matches.each do |match| %>
        <%= render match %>
      <% end %>
    <% else %>
      No live matches found!
    <% end %>
  </tbody>
</table>

<br>

<h1>Previous Match Scores</h1>
<table>
  <tbody>
    <% if @previous_matches.present?  %>
      <% @previous_matches.each do |match| %>
        <%= render match %>
      <% end %>
    <% else %>
      No previous matches found!
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Match', new_match_path %>
